li {
    display: inline-block;
}


h2 {
    display: inline-block;
    margin: 1rem;
}


.logo {
    display: flex;
    margin: 1rem;
    align-self: center;
}

.titulo {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.simbf {
    width: 10rem;
    height: 10rem;
    margin: 1.6rem;
    display: inline-block;
}

.simbi {
    width: 12rem;
    height: 10rem;
    display: inline-block;
}


.fin {
    display: inline-block;
}


.footerContactos {
    text-align: center;
    text-transform: uppercase;
    
}

.header {
 border-bottom: 1px solid black;
 margin-bottom: 1px;
}

.imagen {
    max-width: 2rem;
    max-height: 2rem;
}

.TituloProductos {
    background-color: #c1101a;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

.colorBtn {
    background-color: #c1101a;
    color: #fff;
    font-weight: bold;

}

.colorBtn:hover {
    background-color: #811a1f;
    color: #fff;
 font-weight: bolder;
}

.imagen {
    max-width: 50rem;
    max-height: 20rem;
}
.footerText {
   text-align: right;
}

.tiUno {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tiDos {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tiTres {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.textInput {
    text-align: right;
    margin-right: 2rem;
}

.tarj {
    height: 40rem;
    width: 20rem;
}