body {

	.presentacion {
		text-transform: uppercase;
		text-align: center;
	}

	.card {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.colorBtn {
		background-color: $contrastcolor;
		color: $color;
		font-weight: bold;
		transition: all 0.25s;

		&:hover {
			background-color: $hovercolor;
			color: $contrastcolor;
			font-weight: bolder;
		}
	}

	.btn {
		display: inline-block;
	}

	.tituloAlfajores {
		text-align: center;
		font-family: $mainfamily;
		margin: 1.5rem;
		font-weight: bold;
		font-style: $mainstyle;
	}

}