body {

	.presentacion {
		text-transform: uppercase;
		text-align: center;
	}

	.card {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.colorBtn {
		background-color: #fff;
		color: #c1101a;
		font-weight: bold;
		transition: all 0.25s;

		&:hover {
			background-color: #811a1f;
			color: #fff;
			font-weight: bolder;
		}
	}

	.btn {
		display: inline-block;
	}


}