.colorBtn {
    background-color: #fff;
    color: #c1101a;
    font-weight: bold;

}

.colorBtn:hover {
    background-color: #811a1f;
    color: #fff;
 font-weight: bolder;
}

.back {
    color: black;
}