.colorBtn {
    background-color: #fff;
    color: #c1101a;
    font-weight: bold;
    transition: all 0.25s;
}

.colorBtn:hover {
    background-color: #811a1f;
    color: #fff;
    font-weight: bolder;

}

.back {
    color: black;
    border-bottom: none;
}

.btn {
    display: inline-block;
}