.flexbox-container {
    display: flex;
    justify-content: space-around;
    align-content: flex-start ;
    flex-direction: row;
   
}

.flexboxContainer {
    flex-direction: column;
}

.tiUno {
    

}

.tiDos {
    
}

.tiTres {
    

}
.textInput {
    text-align: right;
    margin-right: 2rem;
}