.footerContactos {
    text-align: center;
    text-transform: uppercase;
    justify-content: end;

}



footer {
    .footerContactos {
        text-align: center;
        text-transform: uppercase;
        justify-content: end;

    }

    .footerText {
        justify-content: end;
        font-style: italic;
        display: flex;
    }

    .simbf {
        width: 10rem;
        height: 10rem;
        margin: 1.6rem;
        display: inline-block;
    }

    .simbi {
        width: 12rem;
        height: 10rem;
        display: inline-block;
    }
}