.simbf {
    width: 10rem;
    height: 10rem;
    margin: 1.6rem;
    display: inline-block;
}

.simbi {
    width: 12rem;
    height: 10rem;
    display: inline-block;
}

.logo {
    display: flex;
    margin: 1rem;
    align-self: center;
}