.tiUno {
    margin-bottom: 1rem;
    margin-top: 1rem;

    
}

.tiDos {
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.tiTres {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.textInput {
    text-align: right;
    margin-right: 2rem;
}